.content-page{
    background: '#fff';
    background-color: rgb(255, 255, 255);
    color:black;
    min-height: 240px;
    margin-top: 20px;
}

.content-main{
    padding: 74px 700px 15px 350px;
}

.content-list{
  position: relative;
  top:30px
}

.card-postArea{
  margin-top: 20px;
}

.card-news{
    position: absolute;
    width: 308px;
    left:1080px;
    top:94px;
}
.card-options{
  position: absolute;;
  width: 340px;
  left:1200px;
  top:984px;
}


.icon{
  margin-bottom: 5px;
  margin-right: 1200px;
}

.img{
  margin-top: 15px;
  align-content: center;
}

.textArea{
  margin-top: 5px;

}

.btn-submit{
  position: relative;
  margin-top: 15px;
  left: 500px;
}
